.hero__button {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--fourth-color);
  cursor: pointer;
  padding: 10px 32px;
  border-radius: var(--specific-ident-fourth);
  border: 0;
  margin: 0 auto;
  background-color: var(--second-color);
}

.nav-button-second {
  font-family: var(--font-family-first);
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  color: var(--main-color);
  background-color: var(--eighth-color);
  cursor: pointer;
  padding: 6px 22px;
  border: 0;
  border-radius: var(--specific-ident-fourth);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--fourth-color);
    background-color: var(--second-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px var(--seventh-color);
  }
}

.modal__button {
  position: absolute;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--fourth-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  color: var(--fifth-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    color: var(--second-color);
  }
}

.page-footer__button {
  position: relative;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  background-color: var(--second-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--fourth-color);
  padding-top: 10px;
  padding-right: 62px;
  padding-bottom: 10px;
  padding-left: 28px;
  cursor: pointer;
}

.modal__send-button {
  background-color: var(--second-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: var(--fourth-color);
  padding: 10px 52px;
  border: none;
  cursor: pointer;
  margin-left: 125px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    background-color: #188ce8;
  }
}
