.peculiarities {
  padding: 60px 0;

  @media screen and (min-width: 1200px) {
    padding: var(--specific-ident) 0;
  }

  .container {
    @media screen and (min-width: 1200px) {
      display: flex;
    }
  }
  &__list {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
    }

    @media screen and (min-width: 1200px) {
      display: flex;
      flex-wrap: nowrap;
    }
  }

  &__item {
    margin-bottom: var(--specific-ident-fifth);

    @media screen and (min-width: 768px) {
      width: calc((100% - 30px) / 2);
    }

    @media screen and (min-width: 1200px) {
      margin-bottom: 0;
    }
  }

  &__item:not(:first-child) {
    @media screen and (min-width: 1200px) {
      margin-left: var(--specific-ident-fifth);
    }
  }

  &__item:nth-child(n + 3) {
    @media screen and (min-width: 768px) {
      margin-bottom: 0;
    }
  }

  &__item:nth-child(2n + 2) {
    @media screen and (min-width: 768px) {
      margin-left: var(--specific-ident-fifth);
    }
  }

  &__item:last-child {
    margin-bottom: 0;
  }

  &__link {
    background-color: var(--eighth-color);
    height: 120px;
    width: 450px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    align-items: center;

    @media screen and (min-width: 768px) {
      width: 354px;
    }

    @media screen and (min-width: 1200px) {
      width: 270px;
    }
  }

  &__text {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--third-color);
  }
}
